.tabs {
    margin: 0 7vw;
}

.tab-list {
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.tab-list::-webkit-scrollbar {
    display: none;
}

.tab-list-item {
    cursor: pointer;
    display: inline-block;
    color: #000;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px 15px;
    background: transparent;
}

.tab-list-item:hover {
    background: #eee;
}

.tab-list-active {
    color: #fff;
    background: linear-gradient(135deg, #8E2DE2, #4A00E0);
}

.tab-list-active:hover {
    background: linear-gradient(135deg, #8E2DE2, #4A00E0);
}

@media (max-width: 600px) {
    .tabs {
        overflow: hidden;
        margin: 0 20px;
    }

    .tab-list-item {
        background: #eee;
    }

    .tab-list-active {
        background: linear-gradient(135deg, #8E2DE2, #4A00E0);
    }
}