.tabs {
    margin: 0 7vw;
}

.tab-list {
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.tab-list::-webkit-scrollbar {
    display: none;
}

.tab-list-item {
    cursor: pointer;
    display: inline-block;
    color: #777;
    font-weight: 700;
    border-radius: 10px;
    padding: 7px 12px;
    background: transparent;
}

.tab-list-item:hover {
    color: #000;
}

.tab-list-active {
    color: #000;
    background: #eee;
}

.tab-list-active:hover {
    background: #eee;
}

@media (max-width: 600px) {
    .tabs {
        overflow: hidden;
        margin: 0 20px;
    }
}